/*
 * @Date: 2020-01-02 16:40:50
 * @LastEditors  : Quincy
 * @LastEditTime : 2020-01-11 11:03:10
 * @Description: 全局 scss 主题颜色变量
 */
$primary: #fea203;
$info: #556fb5;
$warn: orange;
$error: red;
$success: green;

$border: #ebebeb;
$background: #f7f7f7;

$textColor: #1f1f1f;
$textGrey: #c7c7c7;

$darkBackground: rgba(0, 0, 0, 0.75);

$gradientPrimary: linear-gradient(170deg, #fea203, #fea203);
