/*
 * @Description: 全局 scss 其他变量
 */
$totalFontSize: 24px;
$totalFontColor: #383838;
$tabBarHeight: 100px;

$topNavBarItemWidth: 100px;
$topNavBarHeight: 88px;

$gutter: 20px;

$defaultFontSize: 37.5px;
$fontMini: $defaultFontSize - 8px;
$fontSmall: $defaultFontSize - 4px;
$fontMiddle: $defaultFontSize + 4px;
$fontLarge: $defaultFontSize + 8px;
