.setting-container {
  .setting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px 0 32px;
    color: #1f1f1f;
    font-size: 28px;
    height: 100px;
    background-color: #fff;
  }
  .item-icon {
    width: 32px;
    height: 32px;
  }
  .adv-setting {
    margin: 10px 0;
  }
  .login-out {
    margin-top: 10px;
    height: 100px;
    line-height: 100px;
    color: #666;
    font-size: 28px;
    text-align: center;
    background-color: #fff;
  }
  .at-switch{
    padding:0;
    &:after{
      border:0;
    }
  }
}